@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  @apply bg-gradient-to-r from-slate-900 via-slate-800 to-slate-900 text-gray-100;
}
* {
  font-family: "Montserrat", serif;
}
.light {
  @apply bg-gradient-to-r from-white via-slate-50 to-white text-gray-900;
}

.dark-btn {
  @apply text-white bg-gradient-to-r from-purple-700 via-purple-800 to-purple-900 px-3 py-2
 sm:text-sm  border-none rounded-xl cursor-pointer hover:scale-90 duration-75 mx-1 my-2 text-xs;
}
.light-btn {
  @apply text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 px-3 py-2
 sm:text-sm border-none rounded-xl cursor-pointer hover:scale-90 duration-75 mx-1 my-2 text-xs;
}
